<% layout('layouts/boilerplate')%>
<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid d-flex align-items-center justify-content-between">

    <a href="/" class="logo d-flex align-items-center  me-auto me-lg-0">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <i class="bi bi-h-circle"></i>
      <h1>otels</h1>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/hotels" class="active">Quarantine Hotels</a></li>
        <% if(!currentUser) { %>
          <li><a class="nav-link" href="/login">Login</a></li>
          <li><a class="nav-link" href="/register">Register</a></li>
          <% } else { %>
          <li><a class="nav-link" href="/logout">Logout</a></li>
          <% } %>
      </ul>
    </nav><!-- .navbar -->

    <div class="header-social-links">
      <a href="https://twitter.com/?lang=en" class="twitter" target="_blank"><i class="bi bi-twitter"></i></a>
      <a href="https://www.facebook.com/" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
      <a href="https://www.instagram.com/" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
      <a href="https://www.linkedin.com/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></i></a>
    </div>
    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

  </div>
</header>


<% if (hotels.length === 68)  {%> 
<main style="overflow-x: hidden" id="main" data-aos="fade" data-aos-delay="500">
<% } else {%>
  <main style="overflow-x: hidden" id="main">
    <% } %> 
  <div id="map" class="map-top" style="width: 100%; height: 550px; "></div>
  <div class="row justify-content-center mt-4">
    <div class="col-lg-9">
      <form action="/hotels" method="GET" class="form-inline">
        <div class="input-group">
          <input type="text" name="search" class="form-control input-type" placeholder="Hotel search...">
          <input type="submit" class="btn btn-success" value="Search">
        </div>
      </form>
    </div>
  </div>
  <section id="gallery" class="gallery">
    <div class="container-fluid">
      <div class="row gy-4 justify-content-center">

        <% for (let hotel of hotels) { %>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="gallery-item h-100">
                <img src=<%= hotel.image %> class="img-fluid img-size" alt="">
                <div class="gallery-links d-flex align-items-center justify-content-center">
                  <a href=<%= hotel.link %> class="details-link" target="_blank"><i class="bi bi-link-45deg"></i></a>
                  <a href="/hotels/<%= hotel._id %>" class="details-link"><%= hotel.title %></a>
                </div>
              </div>
            </div>
        <% } %> 

        <% if (hotels.length < 1)  {%> 
          <h2 class="text-center">No hotels match that query, please try again.</h2>
        <% } %> 
      </div>
    </div>
  </section>

  <footer id="footer" class="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>PhotoFolio</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/photofolio-bootstrap-photography-website-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer>
 
</main>


<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">




        

<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const hotels = {features: <%- JSON.stringify(hotels) %>}
</script>



<script src="/javascripts/clusterMap.js"></script>