<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/stars.css">
<link href="/stylesheets/review.css" rel="stylesheet">

<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid d-flex align-items-center justify-content-between">

    <a href="/" class="logo d-flex align-items-center  me-auto me-lg-0">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <i class="bi bi-h-circle"></i>
      <h1>otels</h1>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/hotels">Quarantine Hotels</a></li>
        <% if(!currentUser) { %>
          <li><a class="nav-link" href="/login">Login</a></li>
          <li><a class="nav-link" href="/register">Register</a></li>
          <% } else { %>
          <li><a class="nav-link" href="/logout">Logout</a></li>
          <% } %>
      </ul>
    </nav><!-- .navbar -->

    <div class="header-social-links">
      <a href="https://twitter.com/?lang=en" class="twitter" target="_blank"><i class="bi bi-twitter"></i></a>
      <a href="https://www.facebook.com/" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
      <a href="https://www.instagram.com/" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
      <a href="https://www.linkedin.com/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></i></a>
    </div>
    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

  </div>
</header>

  <main id="main" data-aos="fade" data-aos-delay="500">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row gy-4 justify-content-center mt-auto">
          <div class="row gy-2 col-lg-5">
            <img src=<%= hotel.image%>  class="img-fluid" alt="">
          </div>
          <div class="col-lg-5 content">
            <h2><%= hotel.title%></h2>
            <div class="row mt-3">
              <div class="col-lg-12">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>District:</strong> <span><%=hotel.district%> </span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Address:</strong> <span><%=hotel.address%></span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Minimum Price 1pax:</strong> <span><%=hotel.price%> </span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Link:</strong> <a href=<%=hotel.link%> target="_blank"><%=hotel.link %></a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-12">
                <div id='map' style='width: 100%; height: 500px;'></div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="section-header">
          <h2>Reviews</h2> 
        </div>

        <div class="container">
        <div class="col-md-12">
            
                    <div class="tab-pane fade active show" id="pills-reviews" role="tabpanel" aria-labelledby="pills-reviews-tab">
                        <div class="container-color rounded shadow-sm p-4 mb-4 clearfix graph-star-rating">
                            <h5 class="mb-0 mb-4" style="color: #27a776">Ratings and Reviews</h5>
                            <div class="graph-star-rating-header">
                                <div class="star-rating">
                                    <a href="#"><i class="icofont-ui-rating"></i></a> <b class="ml-2"><%=hotel.reviews.length%> Reviews</b>
                                </div>
                                <p class="mb-4 mt-2">Rated <%= hotel.average %>  out of 5</p>
                            </div>
                            <div class="graph-star-rating-body">
                                <div class="rating-list">
                                    <div class="rating-list-left ">
                                        5 Star
                                    </div>
                                    <div class="rating-list-center">
                                        <div class="progress">
                                            <div style="width: <%= hotel.five / hotel.reviews.length * 100 %>%" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="bar-color">
                                                <% if(hotel.five !== 0) {%> 
                                                <span class="sr-only"></span>
                                                <% } %> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="rating-list-right ">(<%=hotel.five  %>) </div>
                                </div>
                                <div class="rating-list">
                                    <div class="rating-list-left ">
                                        4 Star
                                    </div>
                                    <div class="rating-list-center">
                                        <div class="progress">
                                            <div style="width: <%= hotel.four / hotel.reviews.length * 100 %>%" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class=" bar-color">
                                              <% if(hotel.four !== 0) {%> 
                                                <span class="sr-only"></span>
                                                <% } %> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="rating-list-right ">(<%=hotel.four  %>)</div>
                                </div>
                                <div class="rating-list">
                                    <div class="rating-list-left ">
                                        3 Star
                                    </div>
                                    <div class="rating-list-center">
                                        <div class="progress">
                                            <div style="width: <%= hotel.three / hotel.reviews.length * 100 %>%" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="bar-color">
                                              <% if(hotel.three !== 0) {%> 
                                                <span class="sr-only"></span>
                                                <% } %> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="rating-list-right ">(<%=hotel.three  %>)</div>
                                </div>
                                <div class="rating-list">
                                    <div class="rating-list-left ">
                                        2 Star
                                    </div>
                                    <div class="rating-list-center">
                                        <div class="progress">
                                            <div style="width: <%= hotel.two / hotel.reviews.length * 100 %>%" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="bar-color">
                                              <% if(hotel.two !== 0) {%> 
                                                <span class="sr-only"></span>
                                                <% } %> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="rating-list-right ">(<%=hotel.two  %>)</div>
                                </div>
                                <div class="rating-list">
                                  <div class="rating-list-left ">
                                      1 Star
                                  </div>
                                  <div class="rating-list-center">
                                      <div class="progress">
                                          <div style="width: <%= hotel.one / hotel.reviews.length * 100 %>%" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="bar-color">
                                            <% if(hotel.one !== 0) {%> 
                                              <span class="sr-only"></span>
                                              <% } %> 
                                          </div>
                                      </div>
                                  </div>
                                  <div class="rating-list-right ">(<%=hotel.one  %>)</div>
                              </div>
                            </div>
                            <div class="graph-star-rating-footer text-center mt-3 mb-3">
                              <% if(currentUser) {%> 
                                <a href="/hotels/<%=hotel._id %>/newReview" class="btn btn-success">Leave a Review</a>
                               <% } else {%> 
                                <a href="/login" class="btn btn-success">Leave a Review</a>
                                <% } %> 
                            </div>
                        </div>

                        <div style="overflow-y: auto" class="container-color rounded shadow-sm p-4 mb-4 restaurant-detailed-ratings-and-reviews">
                            <h5 class="mb-1" style="color: #27a776">All Ratings and Reviews</h5>
                            <% for(let review of hotel.reviews) { %> 
                            <div class="reviews-members pt-4 pb-4">
                                <div class="media">
                                  <p class="starability-result" data-rating="<%=review.rating%>"></p>
                                    <div class="media-body">
                                        <div class="reviews-members-header">
                                            <span class="star-rating float-right">
                                                  <a href="#"><i class="icofont-ui-rating active"></i></a>
                                                  <a href="#"><i class="icofont-ui-rating active"></i></a>
                                                  <a href="#"><i class="icofont-ui-rating active"></i></a>
                                                  <a href="#"><i class="icofont-ui-rating active"></i></a>
                                                  <a href="#"><i class="icofont-ui-rating"></i></a>
                                                  </span>
                                            <h6 class="mb-1"><%=review.author.username%></h6>
                                            <p class="text-gray"><%= review.date  %> </p>
                                        </div>
                                        <div class="reviews-members-body">
                                          <p><%= review.body %></p>
                                        </div>
                                        <div class="reviews-members-footer">
                                          <% review.images.forEach((img, i) => {  %> 
                                            <% if (i === 0) {%>          
                                            <section id="gallery" class="gallery">        
                                              <div class="container-fluid">         
                                                <div class="row gy-4">        
                                                  <div class="col-xl-3 col-lg-4 col-md-6">         
                                                    <div class="gallery-item h-100">        
                                                      <img src=<%= img.thumbnail%> class="img-fluid rounded" alt="">        
                                                      <div class="gallery-links d-flex align-items-center justify-content-center">        
                                                        <a href=<%= img.thumbnail2%> title="<%=review.author.username%>" class="glightbox preview-link">+<%= review.images.length - 1  %> </a>        
                                                      </div>        
                                                    </div>         
                                                  </div>        
                                                </div>       
                                              </div>        
                                            </section>       
                                            <% } else {%>       
                                              <a href=<%= img.thumbnail2%> title="<%=review.author.username%> " class="glightbox preview-link"></a>        
                                            <% } %> 
                                          <% }) %> 
                                          <% if (currentUser && review.author.equals(currentUser._id)) {%>  
                                            <div class="card-body mt-3">                 
                                                <a class="card-link btn btn-success btn-sm" href="/hotels/<%=hotel._id%>/editReview/<%=review._id%> ">Edit</a>                  
                                                <form class="d-inline" action="/hotels/<%=hotel._id%>/deleteReview/<%=review._id%>?_method=DELETE" method="POST">                 
                                                    <button class="btn btn-danger btn-sm">Delete</button>         
                                                </form>                  
                                            </div>                  
                                            <% } %>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <% } %>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        </div>
        

      </div>
    </section><!-- End Testimonials Section -->

    <footer id="footer" class="footer">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>PhotoFolio</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/photofolio-bootstrap-photography-website-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </footer>
  </main><!-- End #main -->





<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const hotel = <%- JSON.stringify(hotel) %>
</script>

<script src="/javascripts/showPageMap.js"></script>